html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px; }

.fold-container {
  background: linear-gradient(rgba(39, 55, 64, 0.9), rgba(39, 55, 64, 0.7)), url("/public/images/background.jpg");
  background-size: cover;
  height: 550px; }
  .fold-container .home {
    display: inline-block;
    color: #FDF9FD;
    font-size: 25px;
    font-weight: 500;
    text-align: left; }
  .fold-container .plus {
    display: inline-block;
    color: #F35D66;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    margin-left: 5px; }
  .fold-container .about-row {
    margin-top: 50px;
    text-align: center; }
    .fold-container .about-row .about {
      color: #FDF9FD;
      font-size: 36px;
      font-weight: 400; }
    .fold-container .about-row .about-us {
      color: #FDF9FD;
      font-size: 20px;
      font-weight: 200; }
  .fold-container .links-row {
    margin-top: 30px;
    text-align: center; }
    .fold-container .links-row .login, .fold-container .links-row .register {
      width: 48%;
      display: inline-block; }
    .fold-container .links-row .links {
      position: relative;
      text-decoration: none;
      color: #3ADB76;
      font-size: 16px;
      font-weight: 500;
      border: 1px solid #3ADB76;
      border-radius: 4px;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease; }
    .fold-container .links-row .login-link {
      padding: 7px 45px 7px 45px; }
    .fold-container .links-row .register-link {
      padding: 7px 32px 7px 32px; }
    .fold-container .links-row .links:hover {
      background: rgba(58, 219, 118, 0.8);
      color: #FDF9FD;
      width: 100%;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease; }
  .fold-container .caret-row {
    text-align: center;
    margin-top: 160px; }

.tech-container {
  background-color: #F4F4F4;
  height: 80px; }
  .tech-container .tech-block {
    display: flex;
    justify-content: space-between; }
    .tech-container .tech-block .tech-logos {
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
      max-width: 100%;
      height: 100%;
      margin-top: 10px; }
    .tech-container .tech-block .margin-one {
      margin-top: 30px; }
    .tech-container .tech-block .margin-two {
      margin-top: 20px; }
    .tech-container .tech-block .tech-logos:hover {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease; }

.info-container {
  margin-top: 50px;
  margin-bottom: 50px; }
  .info-container .title-row {
    margin-top: 40px; }
    .info-container .title-row #info-title {
      text-align: center; }
    .info-container .title-row .info {
      color: #F35D66;
      font-weight: 500; }
  .info-container .about-row {
    margin-top: 30px; }
    .info-container .about-row .about-blocks {
      display: inline-block;
      margin-bottom: 30px; }
    .info-container .about-row .concept,
    .info-container .about-row .author {
      font-weight: 200;
      text-align: center; }
    .info-container .about-row .concept-info,
    .info-container .about-row .author-info {
      color: #655D59;
      margin: auto;
      width: 300px; }

.footer {
  background-color: #F4F4F4;
  height: 60px;
  text-align: right; }
  .footer .connect {
    font-size: 16px;
    font-weight: 500;
    margin-left: 5px;
    margin-top: 20px; }
  .footer .connect-icons {
    margin-left: 10px; }
  .footer .connect,
  .footer .connect-icons {
    display: inline-block; }
