//-- COLORS
$red:       #F35D66;
$blue:      #36B8D5;
$navy:      #273647;
$lightNavy: #2F4358;
$green:     #3ADB76;
$black:     #020202;
$white:     #FDF9FD;
$gray:      #D6D0D2;
$lightGray: #F4F4F4;
$darkGray:  #655D59;

//-- FONTS
// Size
$bigHeader: 45px;
$header:    36px;
$subHeader: 30px;
$title:     25px;
$label:     20px;
$paragraph: 16px;
$smallP:    14px;

// Weight
$skinny: 100;
$thin:   200;
$normal: 300;
$chubby: 400;
$thick:  500;
$fat:    700;

// Spacing
$one: 1px;
$two: 2px;

//-- MARGINS
$five:    5px;
$ten:     10px;
$fifteen: 15px;
$twenty:  20px;
$thirty:  30px;
$forty:   40px;
$fifty:   50px;

@mixin auto {
  margin: {
    right: auto;
    left: auto;
  }
}

@mixin bodyMargin {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

//-- BEGIN CSS
html, body {
  @include bodyMargin;
}