//-- GLOBAL VARIABLES
@import 'base';

//-- LOCAL VARIABLES
@mixin verticalColor {
  background: #43cea2;
  background: -webkit-linear-gradient(to left, #019FE9, #30CCD6);
  background: linear-gradient(to left, #019FE9, #30CCD6);
}

//-- DASHBOARD
.header-container {
  background-color: $navy;
  height: 55px;
  border-bottom: 2px solid $red;

  .logo-block {
    .home {
      display: inline-block;
      color: $white;
      font-size: $label;
      font-weight: $chubby;
    }

    .plus {
      display: inline-block;
      color: $red;
      font-size: $subHeader;
      font-weight: $chubby;
      margin-left: $five;
    }
  }

  .nav-block {
    text-align: right;
    padding-top: $twenty;

    .navs {
      color: $white;
      font-size: $tinyP;
      font-weight: $thick;
      letter-spacing: $one;
      margin-left: $thirty;
      border-bottom: 2px solid transparent;
    }

    .navs:hover {
      border-bottom: 2px solid $white;
      transition: all 0.3s ease;
    }
  }

  .welcome-block {
    .greeting {
      display: inline-block;
      margin-left: $twenty;

      .welcome {
        color: $black;
        font-size: $label;
        font-weight: $thin;
        letter-spacing: $one;
        margin-top: $twenty;

        .doc {
          color: $blue;
          font-weight: $chubby;
        }
      }

      .outlook {
        color: $darkGray;
        font-size: $paragraph;

        .busy {
          color: $red;
        }
      }
    }

    .time-block {
      display: inline-block;
      text-align: center;
      padding-top: $ten;
  
      #current-time {
        font-size: $clock;
        font-weight: $thin;
      }

      #meridies {
        font-weight: $thin;
        margin-left: -2px;
      }

      #current-date {
        color: $darkGray;
        font-size: $smallP;
        font-weight: $normal;
        letter-spacing: $one;
        margin-top: -10px;
      }
    }
  }
}

.top-container {
  margin-top: $twenty;
}

.summary-flex {
  display: flex;
  justify-content: space-around;
  padding-top: $ten;

  .summary-block {
    display: inline-block;
    text-align: center;

    .donut {
      width: 100px;
      height: 100px;
    }

    .summary-label {
      color: $darkGray;
      font-size: $paragraph;
      font-weight: $normal;
      margin-top: $ten;
    }
  }
}

.notes-columns {
  display: block;
  margin-top: $forty;

  .notes {
    font-size: $label;
  }

  .notes-block {
    height: 250px;
    overflow: hidden;

    .bullets {
      font-size: $notes;
      border-bottom: 1px solid $lightGray;
      padding: {
        top: $five;
        bottom: $five;
      }
    }
  }

  .notes-block:hover {
    overflow-y: scroll;
  }
}

.timeline-block {
  background-color: $lightGray;
  width: 80%;
  // border: {
  //   right: 2px solid $gray;
  //   bottom: 2px solid $gray;
  // }
  padding: {
    top: $ten;
    bottom: $twenty;
    left: $ten;
    right: $ten;
  }
  overflow: hidden;
  @include auto;

  #timeline {
    height: 500px;
    overflow: hidden;

    .timeline-item {
      margin-bottom: $thirty;
      @include auto;

      .circle-block {
        display: inline-block;
        height: 17px;
        width: 17px;

        .circle {
          color: $red;
          font-size: $header;
        }
      }

      .items {
        background-color: $white;
        display: inline-block;
        margin-left: 20px;
        border-bottom: 2px solid $gray;
        border-radius: 2%;

        .timeline-title {
          color: $white;
          font-size: $notes;
          font-weight: $thick;
          background-color: $red;
          padding-left: $five;
        }

        .timeline-content {
          font-size: $smallP;
          padding: {
            left: $five;
            right: $five;
          }
        }

        .patient {
          font-size: $smallP;
          font-weight: $thick;
          margin-top: -10px;
          padding-left: $five;
        }
      }
    }
  }
}

.timeline-block:hover {
  overflow-y: scroll;
}

// ----- DEVICES 640px AND UP
@media (min-width: 640px) {
  .header-container {
    height: 60px;

    .nav-block {
      .navs {
        display: inline-block;
        font-size: $smallP;
      }
    }

    .welcome-block {
      .welcome {
        font-size: $title;
      }
    }
  }
}



