//-- GLOBAL VARIABLES
@import 'base';

//-- LOCAL VARIABLES
@mixin verticalColor {
  background: #43cea2;
  background: -webkit-linear-gradient(to bottom, #019FE9, #30CCD6);
  background: linear-gradient(to bottom, #019FE9, #30CCD6);
}

//-- DASHBOARD
.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 90px;
  height: 100%;
  @include verticalColor;
}

.vertical-nav {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 90px;
  height: 100%;
  text-align: center;

  .s {
    display: inline-block;
    color: $white;
    font-size: $title;
    font-weight: $thick;
    border: 2px solid $white;
    border-radius: 50%;
    padding: 3px 13px 3px 13px;
    margin: {
      top: $ten;
      bottom: -10px;
    }
  }

  .nav-icons {
    display: block;
    margin: {
      top: $fifty;
      bottom: $fifty;
    }
    @include auto;
  }
}

.header-container {
  margin-top: $ten;
  margin-left: 100px;
  padding-bottom: 1px;
  border-bottom: 1px solid $gray;

  .dash-block {
    display: inline-block;

    .dashboard {
      color: $darkGray;
      font-size: $label;
      font-weight: $thin;
    }
  }

  .log-block {
    display: inline-block;
    font-size: $smallP;
    text-align: right;
  }
}

.top-container {
  margin-left: 90px;

  .profile-block {
    margin-top: $fifteen;
    text-align: center;

    .doctor-profile {

      .doctor-name {
        color: $darkGray;
        display: inline;
        font-weight: $chubby;
      }

      .doctor-image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }

    .welcome {
      display: inline-block;
      font-weight: $thin;
      padding-top: 5px;

      .outlook {
        color: $red;
        font-weight: normal;
      }
    }
  }

  .time-block {
    text-align: center;

    #current-time,
    #meridies {
      display: inline-block;
    }

    #current-time {
      font-size: $clock;
      font-weight: $skinny;
    }

    #meridies {
      font-weight: $thin;
      margin-left: -2px;
    }

    #current-date {
      color: $darkGray;
      font-size: $paragraph;
      font-weight: $thin;
      letter-spacing: $one;
      margin-top: -20px;
    }
  }

  .timeline-block {

    .timeline-title {
      font-size: $label;
      font-weight: $thin;
      text-align: center;
    }
  }
}

.summary-container {
  margin-left: 70px;

  .summary-block {
    text-align: center;

    .summary-label {
      color: $darkGray;
      font-size: $label;
      font-weight: $thin;
      margin-top: $ten;
    }
  }
}

// ----- DEVICES 760px AND UP
@media (min-width: 640px) {
  .profile-block {
    text-align: left !important;
  }

  .time-block {
    padding-top: 0px;
  }

  .timeline-block {
    position: fixed;
    right: 0;
    background-color: $lightGray;
    height: 100%;
    // margin-top: -10px;
    padding-top: 10px;
  } 

  canvas {
    height: 125px;
    width: 125px;
  }
}





