//-- GLOBAL VARIABLES
@import 'base';

//-- LOCAL VARIABLES
// Buttons
@mixin buttonBefore {
  position: relative;
  text-decoration: none;
  color: $green;
  font-size: $paragraph;
  font-weight: $thick;
  border: 1px solid $green;
  border-radius: 4px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

@mixin buttonTransition {
  .links:hover {
    background: rgba($green, 0.8);
    color: $white;
    width: 100%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
  }
}

//-- DEFAULT
.fold-container {
  background:
    linear-gradient(
      rgba(#273740, 0.90),
      rgba(#273740, 0.70)
    ),
    url('/public/images/background.jpg');
  background-size: cover;
  height: 550px;   

  .home {
    display: inline-block;
    color: $white;
    font-size: $title;
    font-weight: $thick;
    text-align: left;
  }

  .plus {
    display: inline-block;
    color: $red;
    font-size: $header;
    font-weight: $fat;
    text-align: left;
    margin-left: $five;
  }

  .about-row {
    margin-top: $fifty;
    text-align: center;

    .about {
      color: $white;
      font-size: $header;
      font-weight: $chubby;
    }

    .about-us {
      color: $white;
      font-size: $label;
      font-weight: $thin;
    }
  }

  .links-row {
    margin-top: $thirty;
    text-align: center;

    .login, .register {
      width: 48%;
      display: inline-block;
    }

    .links {
      @include buttonBefore;
    }

    .login-link {
      padding: 7px 45px 7px 45px;
    }

    .register-link {
      padding: 7px 32px 7px 32px;
    }

    @include buttonTransition;
  }

  .caret-row {
    text-align: center;
    margin-top: 160px;
  }
}

.tech-container {
  background-color: $lightGray;
  height: 80px;

  .tech-block {
    display: flex;
    justify-content: space-between;

    .tech-logos {
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
      max-width: 100%;
      height: 100%;
      margin-top: 10px;
    }

    .margin-one {
      margin-top: $thirty;
    }

    .margin-two {
      margin-top: $twenty;
    }

    .tech-logos:hover {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease; 
    }
  }
}

.info-container {
  margin:  {
      top: $fifty;
      bottom: $fifty;
    }

  .title-row {
    margin-top: $forty;

    #info-title {
      text-align: center;
    }

    .info {
      color: $red;
      font-weight: $thick;
    }
  }

  .about-row {
    margin-top: $thirty;

    .about-blocks {
      display: inline-block;
      margin-bottom: $thirty;
    }

    .concept,
    .author {
      font-weight: $thin;
      text-align: center;
    }

    .concept-info,
    .author-info {
      color: $darkGray;
      margin: auto;
      width: 300px;
    }
  }
}

.footer {
  background-color: $lightGray;
  height: 60px;
  text-align: right;

  .connect {
    font-size: $paragraph;
    font-weight: $thick;
    margin-left: $five;
    margin-top: $twenty;
  }

  .connect-icons {
    margin-left: $ten;
  }

  .connect,
  .connect-icons {
    display: inline-block;
  }
}

