extends base

block vars
  - var title = 'Dashboard'
  - var css   = 'public/css/dashboard.css'

  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js")

block body
  div.container.header-container 
    div.row
      div.medium-3.small-1.columns.logo-block
        span.plus +
        h1.home.hide-for-small-only Status
      div.medium-9.small-11.columns.nav-block
        nav#nav
          a(href="#" class="navs") DASHBOARD
          a(href="#" class="navs") PATIENTS
          a(href="#" class="navs") MESSAGES
          a(href="/logout" class="navs logout") SIGNOUT
  div.container.welcome-container
    div.row
      div.medium-9.columns
        img(src="public/images/profiles/dr-grey.jpg" class="profile-picture")
        div.greeting
          p.welcome WELCOME BACK, DR #[span.doc MERIDETH GREY]
          p.outlook The outlook for today looks #[span.busy busy].
  //- div.container.time-container
  //-   div.row
  //-     div.medium-8.columns
  //-       div.time
  //-         p#current-time
  //-       div.date
  //-         p#current-date
  div.container
    div.row
      div.medium-9.columns.patient-block
        div.patient-header
          h2.patient PATIENTS
          a(href="/patients" class="button") ADD PATIENT
        table
          thead
            tr
              td PATIENT ID
              td NAME
              td GENDER
              td DOB
          tbody
            tr
              td.patient-id 24081
              td.name Kobe Byrant
              td.gender M
              td.dob 8/23/1978
            tr
              td.patient-id 55099
              td.name Charles Barkley
              td.gender M
              td.dob 2/20/1963
            tr
              td.patient-id 98801
              td.name Joshua Hwang
              td.gender M
              td.dob 8/4/1994
      div.medium-3.columns
        div.summary-flex
          div.summary-block
            h3.summary-label MEETINGS
            canvas(id="meet-chart" class="donut")
          div.summary-block
            h3.summary-label APPS
            canvas(id="apps-chart" class="donut")
          div.summary-block
            h3.summary-label LABS
            canvas(id="labs-chart" class="donut")
  script(src="public/js/all.js")
  script(src="public/js/chart.js")