extends base

block vars
  - var title = 'Dashboard'
  - var css   = 'public/css/dashboard.css'

block body
  div.nav-container
  div.vertical-nav
    nav.nav
      h1.s S
      a(href="#") 
        img(src="public/images/icons/dashboard.png" alt="dashboard icon" class="nav-icons")
      a(href="#") 
        img(src="public/images/icons/patients.png" alt="Patients icon" class="nav-icons")
      a(href="#") 
        img(src="public/images/icons/mail.png" alt="Mail icon" class="nav-icons")
  div.container.header-container
    div.row
      div.medium-5.small-4.column.dash-block
        h2.dashboard DASHBOARD
      div.medium-6.small-7.column.log-block
        a(href="/logout" class="logout") LOGOUT
  div.container.top-container
    div.row
      div.medium-3.column.profile-block
        //- div.profile-pic
        //-   img(src="public/images/profiles/dr-grey.jpg" alt="Doctor image" class="doctor-image")
        //- div.profile-name
        //-   p.first-name Merideth
        //-   p.last-name Grey
      div.medium-3.column.time-block
        div.time
          h3#current-time 
          p#meridies
          h3#current-date
      div.medium-5.column.timeline-block
  script(src="public/js/all.js")