extends base

block vars
  - var title = 'Home'
  - var css   = 'public/css/default.css'

block body
  div.container
    div.row
      div.medium-8.medium-offset-1
        h1.home Homepage
        a(href="/login") Log in
        a(href="/register") Register