extends base

block vars
  - var title = 'Home'
  - var css   = 'public/css/default.css'

block body
  h1 Hello world!
  p Welcome to the home page! Please <a href="/login">login</a> or <a href="/register">Register</a> to continue.