extends base

block vars
  - var title = 'Login'
  - var css   = 'public/css/login.css'

block body
  h1 Login here!
  form
    input(type="text" name="id" placeholder="Medical ID")
    input(type="text" name="username" placeholder="Username" require=true)
    input(type="password" name="password" placeholder="Password" require=true)
    input(type="submit")

    
