extends base

block vars
  - var title = 'Login'
  - var css   = 'public/css/login.css'

block body
  div.container.sign-container
    div.row
      div.medium-10.medium-offset-1
        div.form-sign
          form(method="POST")
            h1.sign SIGN IN
            //- input(type="hidden" name="_csrf" value=csrfToken)
            div.input-block
              i.material-icons.icon-img fingerprint
              input(type="text" name="medId" placeholder="MEDICAL ID" require=true class="input")
            div.input-block
              i.material-icons.icon-img email
              input(type="email" name="email" placeholder="EMAIL" require=true class="input")
            div.input-block
              i.material-icons.icon-img lock
              input(type="password" name="password" placeholder="PASSWORD" require=true class="input")
            button(type="submit" class="button") SIGN IN
      div.medium-10.medium-offset-1
        div.account-block
          div.account
            p.no-account Don't have an account? #[a(href="/register" class="go-register") Register]


    
